@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;


  //-----RDS PALLETTE-------
  --primary : #1B3C53 ;
  --secondary: #234C6A ;
  --accent : #456882;
  --light: #E3E3E3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
