@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* rds pallete */
  --primary : #1B3C53 ;
  --secondary: #234C6A ;
  --accent : #456882;
  --light: #E3E3E3;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-light: var(--light);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);
  --font-playfair: var(--font-playfair-display);
  --font-geist: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: black;
  font-family:  var(--font-sans);
}
